<h1>Listing requirement_maps</h1>

<table>
  <tr>
    <th>Requirement</th>
    <th>Test case</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requirement_maps.each do |requirement_map| %>
  <tr>
    <td><%= requirement_map.requirement_id %></td>
    <td><%= requirement_map.test_case_id %></td>
    <td><%= link_to 'Show', requirement_map %></td>
    <td><%= link_to 'Edit', edit_requirement_map_path(requirement_map) %></td>
    <td><%= link_to 'Destroy', requirement_map, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Requirement map', new_requirement_map_path %>
