<h1>Listing test_cases</h1>

<table>
  <tr>
    <th>Test specification</th>
    <th>Parent</th>
    <th>Is parent</th>
    <th>User</th>
    <th>Number</th>
    <th>Name</th>
    <th>Description</th>
    <th>Setup</th>
    <th>Procedure</th>
    <th>Duration</th>
    <th>Last run entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_cases.each do |test_case| %>
  <tr>
    <td><%= test_case.test_specification_id %></td>
    <td><%= test_case.parent_id %></td>
    <td><%= test_case.is_parent %></td>
    <td><%= test_case.user_id %></td>
    <td><%= test_case.number %></td>
    <td><%= test_case.name %></td>
    <td><%= test_case.description %></td>
    <td><%= test_case.setup %></td>
    <td><%= test_case.procedure %></td>
    <td><%= test_case.duration %></td>
    <td><%= test_case.last_run_entry_id %></td>
    <td><%= link_to 'Show', test_case %></td>
    <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
    <td><%= link_to 'Destroy', test_case, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test case', new_test_case_path %>
