<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @release.product_id %>
</p>

<p>
  <b>Name:</b>
  <%= @release.name %>
</p>

<p>
  <b>Details:</b>
  <%= @release.details %>
</p>

<p>
  <b>Position:</b>
  <%= @release.position %>
</p>

<p>
  <b>Project:</b>
  <%= @release.project_id %>
</p>

<p>
  <b>Is completed:</b>
  <%= @release.is_completed %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
