<h1>Listing test_plans</h1>

<table>
  <tr>
    <th>Build</th>
    <th>User</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_plans.each do |test_plan| %>
  <tr>
    <td><%= test_plan.build_id %></td>
    <td><%= test_plan.user_id %></td>
    <td><%= test_plan.description %></td>
    <td><%= test_plan.start_date %></td>
    <td><%= test_plan.end_date %></td>
    <td><%= test_plan.status %></td>
    <td><%= link_to 'Show', test_plan %></td>
    <td><%= link_to 'Edit', edit_test_plan_path(test_plan) %></td>
    <td><%= link_to 'Destroy', test_plan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test plan', new_test_plan_path %>
