<%= form_for(@test_case_entry) do |f| %>
  <% if @test_case_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case_entry.errors.count, "error") %> prohibited this test_case_entry from being saved:</h2>

      <ul>
      <% @test_case_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_plan_id %><br />
    <%= f.text_field :test_plan_id %>
  </div>
  <div class="field">
    <%= f.label :test_case_id %><br />
    <%= f.text_field :test_case_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
