<h1>Listing test_specifications</h1>

<table>
  <tr>
    <th>Product</th>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th>Version</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_specifications.each do |test_specification| %>
  <tr>
    <td><%= test_specification.product_id %></td>
    <td><%= test_specification.user_id %></td>
    <td><%= test_specification.name %></td>
    <td><%= test_specification.description %></td>
    <td><%= test_specification.version %></td>
    <td><%= test_specification.status %></td>
    <td><%= link_to 'Show', test_specification %></td>
    <td><%= link_to 'Edit', edit_test_specification_path(test_specification) %></td>
    <td><%= link_to 'Destroy', test_specification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test specification', new_test_specification_path %>
